.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
}

.header{
    text-align: center;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    margin-top: 6%;
}

.input-login, .btn-login {
    width: 60vw;
}



