.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img{
    margin-top: 3%;
    width: 88%;
}

.header{
    text-align: center;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 48vw;
    margin-top: 4%;
}

.input-login, .btn-login {
    width: 60vw;
    height: 5vh;
    font-size: 18px;
    margin-top: 6%;
}



