
.cards{
    width: 151px;
    height: 197px;
    /* background: rgb(228, 90, 11); */
    border: 4px solid rgb(221, 121, 103);
    box-sizing: border-box;
    border-radius: 15px;
    margin-top: 2%;
    text-align: center;
}